.header {
    background-color: #ffefdb;
    color: #343a40;
    padding-top: 15px;
    text-align: center;
    border-bottom: 10px groove;
}

.overBudget {
    background-color: red;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

body {
    background-color: gray;
}

