body {
    background-color: rgba(212,201,163,0.3);
}

.header {
    background-color:rgba(212,201,163,0.8);
    color: #343a40;
    padding-top: 15px;
    text-align: center;
    border-bottom: 10px groove;
}

.add-employee {
    padding-top: 10px;
}


.input-container {
    margin-bottom: 10px;
}

#submitButton {
    margin-bottom: 20px;
}

.table-container {
    text-align: center;
}

#totalDisplay {
    text-align: right;
}

.overBudget {
    background-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}